.main {
  background-color: white;
}

.cta {
  font-size: 22px;
}

.main section {
  margin: 64px 15vw;
  background-color: white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header > div {
  width: 50%;
}

.header .title {
  font-size: 48px;
  font-weight: 600;
  color: black;
  margin-bottom: 32px;
  line-height: normal;
}

.header .description {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 24px;
}

.header .right {
  display: flex;
  justify-content: center;
}

.cta {
  padding: 24px;
}

.whatsapp {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.whatsapp .wppIcon {
  height: 30px;
}

.main .languagesStripe {
  margin: 0;
  padding: 32px 15vw;
  border: 1px solid #e0e0e0;
  width: 100%;
}

.langsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.langsContainer .lang {
  display: flex;
  margin-right: 38px;
  font-size: 22px;
}

.langsContainer .flag {
  margin-right: 8px;
}

.langsContainer .lang:last-child {
  margin-right: 0;
}

.quotes .quote {
  font-size: 24px;
  font-style: italic;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
}

.person {
  font-size: 20px;
  margin-top: 12px;
  color: var(--primary);
  font-weight: 600;
}

.mainGuy {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stars {
  margin-bottom: 16px;
}

.features {
  padding: 64px 0;
}

.feature {
  display: flex;
  align-items: center;
  margin-bottom: 120px;
}

.feature:last-child {
  margin-bottom: 0;
}

.feature .copy, .feature .asset {
  width: 50%;
}

.feature .asset {
  display: flex;
  justify-content: center;
}

.feature .asset img {
  box-shadow: 0 0 10px rgba(0,0,0,.25);
}

.copy .mCopy {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 12px;
}

.copy .sCopy {
  font-size: 24px;
}

.feature1 .asset img {
  width: 300px;
  border-radius: 8px;
}

.feature2 {
  flex-direction: row-reverse;
}

.feature2 .asset img {
  width: 350px;
  border-radius: 8px;
}

.feature3 .asset img {
  width: 350px;
  border-radius: 8px;
}

.main .pricing {
  margin: 0;
  background-color: rgba(0,0,0,0.025);
  padding: 64px 15vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pricing h3 {
  font-size: 48px;
  text-align: center;
  font-weight: 600;
  line-height: normal;
}

.pricing h3 span {
  color: var(--primary);
}

.pricing .includes {
  margin-top: 32px;
  font-size: 24px;
  text-align: center;
}

.pricing .includes div {
  margin-bottom: 12px;
}

.pricing .cta {
  margin-top: 32px;
}

.plans {
  margin-top: 32px;
  display: flex;
}

.plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 32px;
  width: 200px;
  font-size: 20px;
  transition: box-shadow 0.25s;
  cursor: pointer;
  margin-right: 12px;
  position: relative;
}

.plan:nth-child(2) {
  border-color: var(--gold);
}

.plan .prefered {
  position: absolute;
  top: 0;
  font-size: 12px;
  background-color: var(--gold);
  color: white;
  padding: 4px 12px;
  border-radius: 4px;
  transform: translateY(-50%);
}

.plan .period {
  font-weight: 600;
}

.plan .price {
  color: var(--primary);
}

.plan:hover {
  box-shadow: 0 0 10px rgba(0,0,0,.25);
}

.disclaimer {
  font-size: 14px;
  margin-top: 8px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.4);
}